<div class="container">
  <h1>Welcome to Anon-O Blog</h1>  
  <h2>Where your posts lack the courage to have an owner!</h2>

  <a href="/posts/new">Create a new Post!</a><br>

  <a id="show_all_posts_link" href="/all/posts">See all posts!</a>
</div>
