  
<div class="container">
  <h1>Create A New Post!</h1>
  <form action='/posts' method='post'>
    Post Title: <input type="text" name="title"><br>
    Content: <textarea rows="10" cols="56" name="content"></textarea>
             <input type="submit" value="Post that shit!">
  </form>
</div>