<div class="container">  
  <h1>Here are all the deets on this post</h1>

  <a id="edit_post_link" href="/posts/<%=@post.id%>/edit">Edit This Post</a>

  <ul>
    <li>Title: <%=@post.title%></li><br>
    <li>Post: <%=@post.body%></li><br>
    <li>Tagged as: <%=@post.tags[0].subject%></li>
  </ul>
</div>